*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgb(88, 235, 164);
}

#tetris{
    background-color:yellow;
    box-shadow: 0 0 10px 2px rgb(163, 152, 152);
    border-radius: 10px;
}

#score{
    color: rgb(91, 134, 161);
    font-family: sans-serif;
}